

body{
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #403E3B;
}

header{
  position: absolute;
  margin-top:0;
  padding-left: 5%; padding-right: 5%;
  background-color:#0D0D0D;
  display: flex;
  margin: auto;
  width: 90%;
  right: 0%;
  height: 12%;
}

header > span {
  position: relative; margin-left:1.4%;
  display: inline-block;
  padding-top: 0.9vh;
  width: 5%;
  font-family:  'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3vh;
  color:#D9D4CC;
  transform: translate(-30%,5%);
}

header >  p{
  position: relative;
  padding-top: 1%;

  width: 50vw;
  margin-left: 40vw;
  margin-top: min(1.3vh,0.7vw);
  margin-bottom: min(1.3vh,0.7vw);
  text-align:right;

  line-height: min(1.6vh, 20px);
  font-family: 'Roboto',sans-serif;
  font-weight: 400;

  font-size: min(0.8vw,1.2vh);
  color:#D9D4CC;


}



.interface{
  position: fixed;
  top: 16%;
  left: 5%;
  width: 38vw; height: 100vh;
}
.matrix{
  position: absolute;
  top:5%;
  width: 100%;
  margin-top: 20px;
}



.matrix input[type="text"] {
  color: #A63333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.7vw;
  text-align: center;

  position: sticky;
  left: -0.2vw;
  margin:0.1vw 0.1vw;
  width: 0.9vw;
  height: 1.8vh;
  background-color:#8C8881 ;
  border:none;
  outline: none;
}

.vis-network{
  touch-action: none;
  outline: none;
}

.col label{
  margin-top: 10%;
  position: absolute;
  margin-left: -2em;
  padding-right: 0.7em;
  color: #F2F2F2;
}


.col label:nth-child(-n+10){
  margin-top:0.3em;
  margin-left: -1.9em;
  padding-right: 0.7em;
}

hr {
  position: absolute;
  width: 32.4vw;
  margin:0;
  top:5%;
}

.add_btn{
  transition: all 0.3s ease-in-out;
  
  width: 23%; height: 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color : black;
  background: #F2F2F2;
  border:none;
  outline: none;
  position: relative;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: min(2vh,1vw);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.add_btn:active{
  opacity: 1;
  font-weight: 400;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #403E3B;
  border:none;
  
}
.add_btn:hover{
  box-shadow: 6px 6px 10px rgba(202, 152, 152, 0.2);
  height:4%;
  transition: 0.1s ease-in-out;
}

.complement{
  transition: all 0.3s ease-in-out;
  left: 21.5%;
  
  width: 30%; height: 3%;
  text-align: center;
  text-decoration: none;
 
  color : black;
  background: #F2F2F2;
  border:none;
  outline: none;
  position: relative;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: min(1.6vh,0.8vw);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.complement:hover{
  box-shadow: 6px 6px 10px rgba(202, 152, 152, 0.2);
  height:4%;
  transition: 0.1s ease-in-out;
}
.complement:active{
  opacity: 1;
  font-weight: 400;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #403E3B;
  border:none;
  
}
#overflow{
  top: 0.5vh;
  left: 4vw;
  position: relative;
  display: inline-block;
  
  
  letter-spacing: 0.1vw;
  color:#A63333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
  font-size: min(4vh,2vw);
  visibility: hidden;
  opacity: 0;
  
  animation: oo 3s ease-in-out;
}

#viz {
    z-index: 1;
    position: fixed;
   /* display: block; 
    width: -70%; */
    width: 50%;
    height: 80%;
    top:16%;
    right:5%; 

    background-repeat: no-repeat;
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-image:   linear-gradient(to right,  #F2F2F2 100%,#F2F2F2 100%),
                        linear-gradient(to bottom, #F2F2F2 100%,#F2F2F2 100%),
                        linear-gradient(to right,  #F2F2F2 100%,#F2F2F2 100%),
                        linear-gradient(to bottom, #F2F2F2 100%,#F2F2F2 100%);
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: ag 1s linear;
}


@keyframes ag {
  
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}

@keyframes oo {
  0%{opacity: 1;}
  50%{opacity: 0.5;}
  100%{opacity: 0;}
}

.tooltip {
  float: right;
  right: 17.5vw; top: min(1.8vh,1.5vw);
  position: relative;
  display: inline-block;
  border:2vw;
}
#my_image {
  width: 1.1vw;
  height: auto;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 15vw;
  background-color: white;
  color: black;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 250%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}